@mixin center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @include center-div;
    flex-direction: column;
    font-family: 'Fredoka One', sans-serif;
    background-color: #07401B;
    height: 100vh;
    overflow: hidden;
}

/* Title */

#title {
    text-align: center;
    font-size: calc(5rem + 6vw);
    color: #D99923;
    margin: 0rem;
}

/* Main container */

#main-container {
    @include center-div;
    margin: 0 calc(2rem + 5vh) 0 calc(2rem + 5vh);
}

/* Dices */

#dice-1,#dice-2 {
    @include center-div;
    flex-direction: column;
    flex: 0 0 calc(14rem + 10vw);

    h2 {
        text-align: center;
        font-size: calc(3rem + 1vw);
        color: aliceblue;
        margin-bottom: 10%;
    }

    img{
        width:100%;
    }
}